@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.animated-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    overflow: hidden;
    z-index: -1;
}

/* Styling the meteor + meteor.js */
.animated-area .meteor {
    position: absolute;
    top: 0;
    /* width - height in meteor.js */
    background-image: linear-gradient(to bottom, transparent, #fff);
    animation: shower 3s linear infinite;
    /* box-shadow: 0 1px 1px 1px rgba(138, 138, 138, 0.596); */
}

@keyframes shower {
    from {
        transform: translateY(-50%);
        transform: rotate(50deg);
    }
    to {
        transform: translateY(500%);
        left: 0px;
        top: 130%;
        transform: rotate(55deg);
    }
}


/* Styling the stars + stars.js */

.animated-area .star {
    background: #fff;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 10px 20px 1px rgba(255, 255, 255, 0.596);
    animation: animate linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 10;

    /* for sticky navbar */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header nav .logo {
    max-width: 100px;
    color: #fff;
    cursor: pointer;
}

.btn {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

header nav .btn-group .btn {
    margin-left: 30px;
    cursor: pointer;
}

.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
}

.intro-content h1 {
    margin: 20px;
}

.intro-content .btn {
    display: inline-block;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 40px;
    border: 1px solid #fff;
    transition: 0.3s all ease;
}

.intro-content .btn:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0 4px 10px ;
}


footer {
    height: 100vh;
    width: 100%;
    font-size: 1.5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 2s all ease-in;
}

footer:hover {
    opacity: 1;
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(126, 125, 125, 0.034);
    background-color:rgba(0, 0, 0, 0.6);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}
